* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Reset Rules  */

/* Classes for POSITION  */

.ps-fixed {
    position: fixed;
    top: 0px;
}

.top-fixed {
    top: 0px;
}

.bottom-fixed {
    bottom: 0px;
}


.z-index-one {
    z-index: 1;
}

.z-index-two {
    z-index: 2;
}

.z-index-three {
    z-index: 3;
}

/* END Classes for POSITION  */

/* Classes for FLEX  */

.flex {
    display: flex;
}

.centered {
    justify-content: center;
    align-items: center;
}

/* END Classes for FLEX  */

/* Body Background color black  */

body {

    background-color: black;

}

/* END Body Background color black  */

/* Element Top Fixed  */

.speaker-view {
    top: 5px;
    right: 6px;
    color: white;
}

.speaker-view div {
    display: inline-block;

    filter: brightness(1.5);
    
    margin-right: 4px;

    padding: 4px;

    border-radius: 5px;

    font-size: 0.8em;
    background-color: #4A4A4A;
}

.speaker-view div iconify-icon {
    font-size: 0.3;
    vertical-align: middle;
}

.speaker-view div span {

    vertical-align: middle;
    
    font-size: 0.3;
    
}

.speaker-view i {
    display: inline-block;

    filter: brightness(1.5);
    
    padding: 4px;

    border-radius: 5px;

    font-size: 0.3;
    vertical-align: middle;

    background-color: #4A4A4A;
}

/* END Element Top Fixed  */

/* Element fixex at the bottom  */


.player-container {

    justify-content: space-between;

    position: fixed;
    z-index: 1;

    filter: brightness(1.5);
    
    bottom: 0px;
    right: 0px;

    width: 100%;
    height: 80px;


    background-color: #222222;
    color: white;
}

/* First part of bottom elem. fixed  */

.player-container .first-part {
    justify-content: space-around;

    align-items: center;
    gap: 15px;
    width: 200px;
    margin-left: 15px;

}


.player-container .first-part .microphone-video {
    flex-direction: column;
    align-items: center;

}


.player-container .first-part .microphone-video iconify-icon {
    
    font-size: 1.4em;
    padding-bottom: 12px;
    padding-top: 6px;

}

.player-container .first-part .microphone-video span {

    font-size: 0.8em;
}

/* Second part of bottom elem. fixed  */

.player-container .second-part {


    justify-content: center;
    

    align-items: center;
    gap: 15px;
    flex-grow: 1;
    position: relative;

}

.player-container .second-part .settings {
    flex-direction: column;
    align-items: center;

}

.player-container .second-part .settings iconify-icon {
    
    font-size: 1.7em;
    padding-bottom: 8px;
}


.player-container .second-part .settings iconify-icon {
    
    font-size: 1.4em;
    padding-bottom: 12px;
    padding-top: 6px;

}

.player-container .second-part .settings span {

    font-size: 0.8em;
}

.player-container .second-part .settings:nth-child(4) iconify-icon {
    color: #5AC231;
}

/* Third part of bottom elem. fixed  */

.player-container .third {
    

    background-color: #373737;
    color: red;

    width: 110px;
    height: 100%;

    font-size: 0.8em;

}


/* END Element fixex at the bottom  */


/*  Main with videos  */

.container {

    flex-wrap: wrap;

    width: 90%;
    height: 70%;

    margin-left: auto;
    margin-right: auto;

    margin-top: 80px;

}

.container .person {

    width: calc(100% / 7 - 3px);

    background-color: white;

    margin-left: 3px;
    margin-bottom: 10px;

} 

.container .person:nth-child(7n + 1) {
    margin-left: 0px;
}
.container .person:nth-child(7n) {

    margin-right: 0px;
}

.container .person div {
    position: relative;

}

.container .person div img {
    display: block;
    width: 100%;
}

.container .person div .nome-cognome {
    position: absolute;
    bottom: 0px;
    left: 0px;

    padding: 6px;

    filter: brightness(1.5);

    font-size: 0.8em;

    color: white;
    background-color: rgba(63, 61, 61, 0.5);
    
}


.container .person div .nome-cognome span {
    vertical-align: middle;
}

.container .person div .nome-cognome iconify-icon {
    vertical-align: middle;
}


